.mobileText {
  display: none;
}

.desktopText {
  display: inline;
}

.nationalityFlag {
  width: 20px;
  height: 14px;
  object-fit: contain;
  vertical-align: middle;
}

.serie {
  font-size: 10px;
}

.serie,
.overall {
  padding: 2px 8px;
  border: 1px solid;
  text-align: center;
  display: inline-block;

  &.A,
  &.medio {
    border-color: var(--yellow);
    color: var(--yellow);
  }

  &.B,
  &.baixo {
    border-color: var(--red);
    color: var(--red);
  }
}

.overall {
  font-size: 12px;
  font-family: var(--font-mono);

  &.alto {
    border-color: var(--green);
    color: var(--green);
  }
}

.teamContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  & .shieldIcon {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
}

.teamName {
  font-weight: 500;
  font-family: sans-serif;
  display: inline;
}

@media (max-width: 1000px) {
  .desktopText {
    display: none;
  }

  .mobileText {
    display: inline;
    font-weight: bold;
  }

  .teamName {
    display: none;
  }

  .teamContainer {
    justify-content: center;
    gap: 0;
  }

  .serie,
  .overall {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}
